    <div class="header">
        <div class="top-name">{{ display_name }}</div>
        <div>
            <button class="theme-toggle">{{ theme_label_light }}</button>
            <a href="{{ page.lang_switch }}" class="language-switch">{{ lang_switch_label }}</a>
        </div>
    </div>
